{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block css %}

{% endblock css %}



{% block content %}

<div class="jumbotron jumbotron-fluid text-center py-2 " style="background-color: rgb(206, 123, 130);">
    <div class="container">
        <h1 class="display-1">Article on crypto</h1>
        
        <p class="lead my-5">
            <a class="btn btn-info btn-lg" href="{% url 'article_add' %}" role="button">Write your own</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row my-5">
        
        {% for item in articles %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{item.category}}</strong>
                    <h3 class="mb-0">{{item.title}}</h3>
                    <div class="mb-1 text-muted">{{item.date}}</div>
                    <p class="card-text mb-auto">{{item.detail|truncatechars:100}}</p>
                    <a href="{% url 'article_detail' item.id %}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                   
                    <div class="img" style=" height: 100%; width: 200px; background-image: url('{{item.image.url}}');background-size: cover;background-repeat: no-repeat;">

                    </div>
                </div>
            </div>
        </div>
        
        {% empty %}
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">No articles found!</h4>
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %}